*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}

body {
    background-color: lightskyblue;
}

header {
    padding: 20px;
}

header h1 {
    display: inline-block;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
}

nav ul li a {
    padding: 8px 50px;
}

