<<<<<<< HEAD
header {
    width: 400px;
    margin: auto;


}
nav { padding
=======
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
>>>>>>> ca2be99385f9f3571b2fa3cdb72171252c14403b

body {
    background-color: lightskyblue;
}

<<<<<<< HEAD
body {
    background-color: brown;

}

figure {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}
=======
header {
    padding: 20px;
}

header h1 {
    display: inline-block;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
}

nav ul li a {
    padding: 8px 50px;
}

>>>>>>> ca2be99385f9f3571b2fa3cdb72171252c14403b
