* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Grape Nuts', cursive;
    text-align: center;
}


header {
    padding: 10px;
    background-color: rgba(89, 90, 69, 0.89);
    opacity: 0.7;
    color: white;
}

header h1 {
    display: inline-block;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}

header div ul {
    list-style-type: none;

}

header nav ul li {
    display: inline-block
}

nav ul li a {
    padding: 55px;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.background_image {
    background-image: url(/assets/images/lobby.webp);
    height: 600px;
    opacity: 0.9;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome {
    color: white;
}


#about {
    border-top: 2px solid gray;
    background-color: lightblue
}


.about p {
    color: black;
    font-size: 2.0rem;
    font-weight: bold;
}

.about h1 {
    border-top: 3px solid gray;
    font-size: 2.5rem;
}

#menu {
    background-color: lightgray;
}

.menu h1 {
    border-top: 3px solid gray;
    font-size: 3rem;
}

.menu h2 {
    font-size: 1.8rem;
    margin-top: 10px;
}

.menu p {
    font-size: 1.5rem;
}


footer {
    color: black;
    text-align: center;
    border-top: 3px solid gray;
    font-size: 1.8rem;
    background-color: antiquewhite;
}

footer ul li a {
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.5rem;
}

@media screen and (max-width: 804px) {
    a {
      display: inline;
    }
  }
