* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

header {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px 20px;
    font-size: x-large;
    color: rgb(221, 221, 221);
}

#main {
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
}

.container {
    width: 800px;
    background: lightcoral;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    
}

span {
    color: black;
    height: 20px;
    width: 20px;
}

#comment {
    display: block;
    width: 500px;
    height: 180px;
    font-size: 25px;
    background-color: rgb(136, 145, 135);
    margin-left: 125px;
}

span:hover {
    color: gold;
}

button {
    height: 40px;
    font-size: x-large;
    text-align: center;
}

p {
    text-align: center;
}

#review {
    margin-top: 50px;
}

.box {
    width: 150px;
    height: 50px;
    font-size: 25px;
    background-color: gray;
    text-align: center;
    border: 2rem;
    border-color: black;
    border: 2px solid black;
    margin-bottom: 5px;
}

.displayNone {
    display: none;
}

.fit-picture {
    width: 250px;
    display: inline-flex;
}

@media only screen and (max-width: 480px) {
    .container {
        width: 80%;
    }
    #comment {
        width: 50%;
        height: 50%;
    }
    }

    @media only screen and (max-width: 720px) {
        .container {
            width: 80%;
        }
        #comment {
            width: 50%;
            height: 50%;
        }
        }
    
