* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

header {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px 20px;
    font-size: x-large;
    color: rgb(221, 221, 221);
}

#main {
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
}

.container {
    width: 800px;
    background: #111;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    
}


span {
    color: black;
    height: 20px;
    width: 20px;
}

#comment {
    display: block;
    width: 500px;
    height: 180px;
    font-size: 25px;
    background-color: rgb(136, 145, 135);
}

span:hover {
    color: gold;
}

button {
    height: 40px;
    font-size: x-large;
    text-align: center;
}

p {
    text-align: center;
}

#review {
    margin-top: 50px;
}

.box {
    width: 150px;
    height: 50px;
    font-size: 25px;
    background-color: gray;
    text-align: center;
    border: 2rem;
    border-color: black;
    border: 2px solid black;
    margin-bottom: 5px;
}

#dogImage { 
    display: flex;
    flex-wrap: wrap;
    height: 10%;
    width: 10%;
}

#appetizerImage {
    display: flex;
    flex-wrap: wrap;
    height: 20%;
    width: 30%;
}


