* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

header {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px 20px;
    font-size: x-large;
    color: rgb(221, 221, 221);
}

main {
    padding: 20px;
}


span {
    color: black;
    height: 20px;
    width: 20px;
}

#comment {
    display: block;
    width: 500px;
    height: 180px;
    font-size: 25px;
    background-color: rgb(136, 145, 135);
    margin-left: 680px;
}

span:hover {
    color: gold;
}

button {
    height: 40px;
    font-size: x-large;
    text-align: center;
}

p {
    text-align: center;
}

#review {
    margin-top: 50px;
}

.box {
    width: 150px;
    height: 50px;
    font-size: 25px;
    background-color: gray;
    text-align: center;
    border: 2rem;
    border-color: black;
    border: 2px solid black;
    margin-bottom: 5px;
}

