* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    font-size: x-large;
}

main {
    padding: 100px;
}

body {
    background: url(../images/1484829698-07-wm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#submit, #comment {
    font-size: 1.8rem;
    display: block;
}

span {
    color: rgb(12, 12, 12);
    height: 50px;
    width: 50px;
}

span:hover {
    background-color: rgb(209, 169, 38);
    color: gold;
}

#submit {
    background-color: rgb(8, 188, 233);
    height: 40px;

}
