*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Grape Nuts', cursive;
}


header {
    padding: 10px;
    background-color: black;
    opacity: 0.7;
    color: white;
}

header h1 {
    display: inline-block;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    
}

nav ul li a {
    padding: 8px 30px;
    text-decoration: none;
}

.background_image {
    background-image: url(/pics/lobby.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    opacity: 0.9;    
}

#about {
    border-top: 2px solid gray;
   
}


.about p{
    color: black;
    font-size: 2.0rem;
    text-align: center;
    font-weight: bold;
}

section h1 {
    border-top: 3px solid gray;
    text-align: center;
    font-size: 1.5rem;
}

footer {
    color: black;
    text-align: center;
}