* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
    
}

header {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 50px 20px;
    font-size: x-large;
    color: rgb(221, 221, 221);
}

body {
    background-image: url(https://media.istockphoto.com/photos/food-for-healthy-brain-picture-id1299079243?b=1&k=20&m=1299079243&s=612x612&w=0&h=0nD8xtP3eNikgVuP955dLLwXw1Ch6l1uH4nqcYB8e9I=);
    background-repeat: round;
}

#main {
    display: grid;
    place-items: center;
    text-align: center;
}

.container {
    width: 800px;
    background: lightcoral;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    
}

span {
    color: black;
    height: 20px;
    width: 20px;
}

#comment {
    display: block;
    width: 500px;
    height: 180px;
    font-size: 25px;
    background-color: rgb(136, 145, 135);
    margin-left: 125px;
}

span:hover {
    color: gold;
}

.checked {
    color: gold;
}

button {
    height: 40px;
    font-size: x-large;
    text-align: center;
}

p {
    text-align: center;
}

#review {
    margin-top: 50px;
}

.box {
    width: 250px;
    height: 50px;
    font-size: 25px;
    background-color: beige;
    text-align: center;
    border: 1rem;
    border-color: black;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 2rem;
    margin-left: 250px;
}

.displayNone {
    display: none;
}

.fit-picture {
    width: 250px;
}

/* 1. change font-size in .fa to larger to make the stars bigger
2. put a black line under each review for cleanliness and separation
3. make sure the stars are near each comment they go with */

.reviewImages {
    display: flex;
    flex-direction: row;
}

.divDog {
    margin-bottom: 50px;
}


@media only screen and (max-width: 480px) {
    .container {
        width: 375px;
    }
    #comment{
        width: 300px;
        height: 100px;
        margin: 0;
    }
    .box {
        margin: 0;
        width: 300px;
        height: 50px;
    }
    }


@media only screen and (max-width: 720px) {
    header {
        width: 410px;
    }
    .container {
        width: 410px;
    }
    #comment{
        width: 300px;
        height: 100px;
        margin: 0;
    }
    .box {
        margin: 0;
    }
    }

    